<div class="card">

  <div class="card-head">
    Product List
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Product Quatiy</th>
          <th>Product Price $</th>
          <th>Product Discount %</th>
          <th>Buttom Event</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">P01</td>
          <td>Hat</td>
          <td>100</td>
          <td>30</td>
          <td>10</td>
          <td>Edit And Delete</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
