<div class="card">

  <div class="card-head">


  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Product Quatiy</th>
          <th>Product Price $</th>
          <th>Product Discount %</th>
          <th>Buttom Event</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of Products">
          <td scope="row">{{product.productCode | lowercase }}</td>
          <td>{{product.productName| uppercase}}</td>
          <td>{{product.productDiscount}}</td>
          <td>{{product.productPrice | currency:'USD':true:'1.2-2'}}</td>
          <td>{{product.productDiscount | percent:'1.0-0'}}</td>
          <td>Edit And Delete</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
